{% extends 'base.html' %}
{% block body %}
        
  
  
 <div class="container my-3">
    <h2>Add a TODO</h2>
    <form action="/" method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">ToDo Title</label>
    <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">ToDo description</label>
    <input type="text" class="form-control" name="desc" id="desc">
  </div>
  <button type="submit" class="btn btn-dark">Submit</button>
</form>
 </div>
 <div class="container my-3">
    <h2>Your TODO</h2>
    
{% if allTodo|length == 0 %}
    <div class="alert alert-dark" role='alert'>
        No Todos found. Add your first todo Now!
    </div>
  {% else %}
    <table class="table">
  <thead>
    <tr>
      <th scope="col">SN0.</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Time</th>
      <th scope="col">Actions</th>

    </tr>
  </thead>
  <tbody>
  
    {% for ToDo in allTodo %}
         <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{ToDo.title}}</td>
      <td>{{ToDo.desc}}</td>
      <td>{{ToDo.date_created}}</td>
      <td>
        <a href="/update/{{ToDo.SNO}}" type="button" class="btn btn-outline-dark btn-sn mx-1">Update</a>
        <a href="/delete/{{ToDo.SNO}}" type="button" class="btn btn-outline-dark btn-sn mx-1">Delete</a>
      </td>
    </tr>
      </tbody>
</table>
    {% endfor %}
   {% endif %}

 </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

{% endblock body %}